In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
visitors = pd.read_excel('../data/parkvisitors.xlsx')

In [3]:
visitors = visitors.drop(columns = ['Unnamed: 0', 'Unnamed: 1'])

In [4]:
visitors.head(10)

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,This report will not correctly export to CSV. ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Recreational Visits,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Park Name,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,Average
6,Abraham Lincoln Birthplace NHP,211650,201828.0,190809.0,200054.0,202950.0,200404.0,221111.0,177122.0,163568.0,...,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,251188.0,265707.0,212955.45
7,Acadia NP,2431062,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,2374645.0,...,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,4069098.0,3970260.0,2735741.05
8,Adams NHP,215659,239504.0,220467.0,225318.0,224880.0,241536.0,253656.0,73339.0,219975.0,...,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,20679.0,12848.0,185085
9,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117113.0,108585.0,...,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,9167.0,29743.0,56673.307692

In [5]:
visitors = visitors.drop([0,1,2,3,4])

In [6]:
visitors

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
5,Park Name,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,Average
6,Abraham Lincoln Birthplace NHP,211650,201828.0,190809.0,200054.0,202950.0,200404.0,221111.0,177122.0,163568.0,...,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,251188.0,265707.0,212955.45
7,Acadia NP,2431062,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,2374645.0,...,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,4069098.0,3970260.0,2735741.05
8,Adams NHP,215659,239504.0,220467.0,225318.0,224880.0,241536.0,253656.0,73339.0,219975.0,...,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,20679.0,12848.0,185085
9,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117113.0,108585.0,...,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,9167.0,29743.0,56673.307692
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,Wupatki NM,266159,247971.0,219480.0,236449.0,239603.0,239157.0,233284.0,221083.0,216165.0,...,195962.0,212828.0,223172.0,236454.0,205122.0,187059.0,146074.0,207445.0,194448.0,216007.9
391,Yellowstone NP,3019375,2868317.0,2835651.0,2870295.0,3151343.0,3066580.0,3295187.0,3640185.0,3394326.0,...,3513484.0,4097710.0,4257177.0,4116524.0,4115000.0,4020288.0,3806306.0,4860242.0,3290242.0,3542699.55
392,Yosemite NP,3378664,3280911.0,3304144.0,3242644.0,3503428.0,3431514.0,3737472.0,3901408.0,3951393.0,...,3882642.0,4150217.0,5028868.0,4336890.0,4009436.0,4422861.0,2268313.0,3287595.0,3667550.0,3716527.25
393,Yukon-Charley Rivers NPRES,5552,4260.0,12784.0,12083.0,11567.0,4942.0,6432.0,6211.0,1718.0,...,2329.0,1133.0,1146.0,952.0,1272.0,1114.0,666.0,629.0,744.0,4042.05
394,Zion NP,2458792,2677342.0,2586665.0,2567350.0,2657281.0,2690154.0,2735402.0,2665972.0,2825505.0,...,3189696.0,3648846.0,4295127.0,4504812.0,4320033.0,4488268.0,3591254.0,5039835.0,4692417.0,3370787.25

In [7]:
new_header = visitors.iloc[0] #grab the first row for the header
visitors = visitors[1:] #take the data less the header row
visitors.columns = new_header #set the header row as the df header

In [15]:
visitors = visitors.reset_index(drop=True)

In [18]:
visitors

5,Park Name,2003,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,...,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0,Average
0,Abraham Lincoln Birthplace NHP,211650,201828.0,190809.0,200054.0,202950.0,200404.0,221111.0,177122.0,163568.0,...,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,251188.0,265707.0,212955.45
1,Acadia NP,2431062,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,2374645.0,...,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,4069098.0,3970260.0,2735741.05
2,Adams NHP,215659,239504.0,220467.0,225318.0,224880.0,241536.0,253656.0,73339.0,219975.0,...,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,20679.0,12848.0,185085
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117113.0,108585.0,...,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,9167.0,29743.0,56673.307692
4,Agate Fossil Beds NM,16233,15235.0,14209.0,13521.0,12997.0,12425.0,12694.0,12509.0,11617.0,...,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,18264.0,16357.0,14665.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,Wupatki NM,266159,247971.0,219480.0,236449.0,239603.0,239157.0,233284.0,221083.0,216165.0,...,195962.0,212828.0,223172.0,236454.0,205122.0,187059.0,146074.0,207445.0,194448.0,216007.9
385,Yellowstone NP,3019375,2868317.0,2835651.0,2870295.0,3151343.0,3066580.0,3295187.0,3640185.0,3394326.0,...,3513484.0,4097710.0,4257177.0,4116524.0,4115000.0,4020288.0,3806306.0,4860242.0,3290242.0,3542699.55
386,Yosemite NP,3378664,3280911.0,3304144.0,3242644.0,3503428.0,3431514.0,3737472.0,3901408.0,3951393.0,...,3882642.0,4150217.0,5028868.0,4336890.0,4009436.0,4422861.0,2268313.0,3287595.0,3667550.0,3716527.25
387,Yukon-Charley Rivers NPRES,5552,4260.0,12784.0,12083.0,11567.0,4942.0,6432.0,6211.0,1718.0,...,2329.0,1133.0,1146.0,952.0,1272.0,1114.0,666.0,629.0,744.0,4042.05
388,Zion NP,2458792,2677342.0,2586665.0,2567350.0,2657281.0,2690154.0,2735402.0,2665972.0,2825505.0,...,3189696.0,3648846.0,4295127.0,4504812.0,4320033.0,4488268.0,3591254.0,5039835.0,4692417.0,3370787.25

visitors = visitors.drop(columns = [])

In [21]:
visitors.columns.to_list()

['Park Name',
 2003,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 nan,
 nan,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0,
 2020.0,
 2021.0,
 2022.0,
 'Average']

In [22]:
visitors.columns = ['Park Name',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 'empty',
 'empty2',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 'Average']

In [25]:
visitors = visitors.drop(columns = ['empty', 'empty2'])

In [26]:
visitors

,Park Name,2003,2004,2005,2006,2007,2008,2009,2010,2011,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Average
0,Abraham Lincoln Birthplace NHP,211650,201828.0,190809.0,200054.0,202950.0,200404.0,221111.0,177122.0,163568.0,...,241264.0,148605.0,252495.0,269580.0,260964.0,238226.0,228141.0,251188.0,265707.0,212955.45
1,Acadia NP,2431062,2207847.0,2051484.0,2083588.0,2202228.0,2075857.0,2227698.0,2504208.0,2374645.0,...,2563129.0,2811184.0,3303393.0,3509271.0,3537575.0,3437286.0,2669034.0,4069098.0,3970260.0,2735741.05
2,Adams NHP,215659,239504.0,220467.0,225318.0,224880.0,241536.0,253656.0,73339.0,219975.0,...,178468.0,183632.0,199301.0,255562.0,121007.0,187400.0,6937.0,20679.0,12848.0,185085
3,African Burial Ground NM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117113.0,108585.0,...,54861.0,56348.0,46526.0,43182.0,45035.0,47427.0,7908.0,9167.0,29743.0,56673.307692
4,Agate Fossil Beds NM,16233,15235.0,14209.0,13521.0,12997.0,12425.0,12694.0,12509.0,11617.0,...,12440.0,13264.0,15555.0,32038.0,16238.0,16657.0,8722.0,18264.0,16357.0,14665.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
384,Wupatki NM,266159,247971.0,219480.0,236449.0,239603.0,239157.0,233284.0,221083.0,216165.0,...,195962.0,212828.0,223172.0,236454.0,205122.0,187059.0,146074.0,207445.0,194448.0,216007.9
385,Yellowstone NP,3019375,2868317.0,2835651.0,2870295.0,3151343.0,3066580.0,3295187.0,3640185.0,3394326.0,...,3513484.0,4097710.0,4257177.0,4116524.0,4115000.0,4020288.0,3806306.0,4860242.0,3290242.0,3542699.55
386,Yosemite NP,3378664,3280911.0,3304144.0,3242644.0,3503428.0,3431514.0,3737472.0,3901408.0,3951393.0,...,3882642.0,4150217.0,5028868.0,4336890.0,4009436.0,4422861.0,2268313.0,3287595.0,3667550.0,3716527.25
387,Yukon-Charley Rivers NPRES,5552,4260.0,12784.0,12083.0,11567.0,4942.0,6432.0,6211.0,1718.0,...,2329.0,1133.0,1146.0,952.0,1272.0,1114.0,666.0,629.0,744.0,4042.05
388,Zion NP,2458792,2677342.0,2586665.0,2567350.0,2657281.0,2690154.0,2735402.0,2665972.0,2825505.0,...,3189696.0,3648846.0,4295127.0,4504812.0,4320033.0,4488268.0,3591254.0,5039835.0,4692417.0,3370787.25

In [28]:
visitors.columns.to_list()

['Park Name',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '2022',
 'Average']

visitors.to_csv('../data/visitors.csv', index = False)